body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5rem;
  margin: 0 auto;
  padding: 0;
}
h1, h2, h3, h4, p, ul, li { margin: 0; }
ul, li {
  padding: 0;
  list-style: none;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
*, ::after, ::before { box-sizing: border-box; }

.world-clock { padding: 1.25rem; }
.world-clock-form {
  margin-bottom: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1.875rem;
}
.world-clock-form__box label {
  margin-right: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.125rem;
}
.world-clock-form button { cursor: pointer; }
.world-clock-form button:active {
  outline: 1px solid #000000;
  outline-offset: -2px;
}
.world-clock-form__box input, .world-clock-form button {
  height: 2.5rem;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 1.125rem;
}
.world-clock-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.world-clock-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.world-clock-item__title {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4375rem;
}
.world-clock-item__remove {
  height: 1.5625rem;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  font-size: 1.875rem;
  cursor: pointer;
}
.world-clock-item__remove:hover { color: #cc0000; }